---
- name: Install Apigee Datastore
  hosts: localhost
  connection: local
  gather_facts: true
  environment:
    ENABLE_TURBO_MODE: 1

  vars_files:
  - "{{ playbook_dir | dirname | dirname }}/resources/hybrid-org-host-metadata.yml"
  - "{{ playbook_dir | dirname | dirname }}/resources/hybrid-common-attributes.yml"
  - "{{ playbook_dir | dirname | dirname }}/resources/hybrid-region-{{ DATA_CENTER | default('dc-1') }}.yml"

  vars:
    OVERRIDE_FILE: "{{ APIGEE_RUNTIME_OVERRIDE_FILE }}"

  tasks:
    - block:
      - name: Install Apigee Datastore
        kubernetes.core.helm:
          state: present
          chart_ref: "{{ APIGEE_HYBRID_HELM_CHARTS_DIR }}/apigee-datastore"
          namespace: "{{ APIGEE_NAMESPACE }}"
          name: datastore
          create_namespace: true
          wait_timeout: "{{ HELM_BINARY_TIMEOUT }}"
          values_files:
          - "{{ APIGEE_HYBRID_HELM_CHARTS_DIR }}/apigee-datastore/{{ OVERRIDE_FILE | basename }}"

      rescue:

        - name: RESCUE - Install Apigee Datastore - debug
          kubernetes.core.helm:
            binary_path: "{{ HELM_BINARY }} --debug "
            state: present
            chart_ref: "{{ APIGEE_HYBRID_HELM_CHARTS_DIR }}/apigee-datastore"
            namespace: "{{ APIGEE_NAMESPACE }}"
            name: datastore
            create_namespace: true
            wait_timeout: "{{ HELM_BINARY_TIMEOUT }}"
            values_files:
            - "{{ APIGEE_HYBRID_HELM_CHARTS_DIR }}/apigee-datastore/{{ OVERRIDE_FILE | basename }}"

    - name: Verify Apigee Datastore Installation
      shell: "{{ HELM_BINARY }} -n apigee get apigeedatastore default"
      register: verify_output
      failed_when: "'running' not in verify_output.stdout"
