---
- name: Obtain External IP Address
  import_playbook: "{{ playbook_dir | dirname }}/gcp-external-ip-address-get/converge.yml"

- name: Expose Apigee hybrid Ingressgateway Endpoint
  hosts: localhost
  connection: local
  gather_facts: true

  vars_files:
  - ~/.apigee-secure/credentials.yml
  - "{{ playbook_dir | dirname | dirname }}/resources/hybrid-org-host-metadata.yml"
  - "{{ playbook_dir | dirname | dirname }}/resources/hybrid-common-attributes.yml"
  - "{{ playbook_dir | dirname | dirname }}/resources/hybrid-region-{{ DATA_CENTER | default('dc-1') }}.yml"

  vars:
    HYBRID_FILES_DIR: "{{ APIGEE_RUNTIME_HYBRID_FILES_DIR }}"
    FQ_DOMAIN_NAME: "{{ DOMAIN_NAME }}"

  collections:
    - bap_coe.apigee_hybrid
    - bap_coe.gcp_management

  roles:
    - {
        role: apigee-hybrid-ingressgateway-expose-endpoint,
        SERVICE_MANIFEST_FILE_DEST: "{{ HYBRID_FILES_DIR }}/overrides/ingressgateway-endpoint-expose.yaml"
    }
