signed-certs
ansible
**/work_dir
**/workdir
inventory
research
*.iml
transaction.yaml
.cache
*/collection*/**
**/*.tar.gz
**/ansible
.idea/**
**/git-repos/**
*.swp
**/ansible.cfg
**/attributes.yml
**/.env.yml

