signed-certs
ansible
**/work_dir
**/workdir
inventory
research
*.iml
transaction.yaml
.cache
*/collection*/**
**/*.tar.gz
**/ansible
.idea/**
**/git-repos/**
*.swp
**/ansible.cfg
**/attributes.yml
**/.env.yml
**/.yamllint
**/apigee-hybrid-helm-charts

/bap_coe/apigee_helm/playbooks/utils/data-ca/
/bap_coe/apigee_helm/playbooks/utils/data-crt/
/bap_coe/apigee_helm/playbooks/utils/data-key/
/bap_coe/apigee_helm/playbooks/utils/hybrid-data-dump/
/bap_coe/apigee_helm/playbooks/utils/cluster-cert-info/
