ansible==2.10.5
ansible-base==2.10.5
ansible-lint==5.0.0
molecule==3.2.3
yamllint==1.26.0
passlib==1.7.4
apache-libcloud==0.17.0
google-auth
pyasn1_modules==0.2.8
requests==2.23.0
pycryptodome==3.10.1

