ansible==2.15.1
molecule==5.1.0
delegated==5.1.0

ansible-dev-tools
ansible-core
containers
ansible-lint
molecule-plugins[delegated]
molecule-delegates
yamllint
passlib
apache-libcloud
google-auth
pyasn1_modules
requests
pycryptodome
NumPy
netaddr
molecule-gce
PyYAMl
jsonpatch
kubernetes
jmespath
setuptools

