---
- name: Set data center
  hosts: localhost
  connection: local
  gather_facts: true

  tasks:
  - name: Set data center fact
    set_fact:
      cacheable: true
      DATA_CENTER: "dc-1"


- name: Apigee hybrid Deployment Part 0
  import_playbook: "{{ playbook_dir | dirname}}/apigee-part-0/converge.yml"

- name: Apigee hybrid Deployment Part 1
  import_playbook: "{{ playbook_dir | dirname}}/apigee-part-1/converge.yml"

- name: Apigee hybrid Deployment Part 2.1
  import_playbook: "{{ playbook_dir | dirname}}/apigee-part-2.1/converge.yml"

- name: Apigee hybrid Deployment Part 2.2
  import_playbook: "{{ playbook_dir | dirname}}/apigee-part-2.2/converge.yml"

- name: Apigee hybrid Deployment Part 3
  import_playbook: "{{ playbook_dir | dirname}}/apigee-part-3/converge.yml"
