---
dependency:
  name: galaxy
driver:
  name: delegated
lint: |
  set -e
  yamllint .
  ansible-lint
  flake8
platforms:
  - name: apigee-apigee-config-org-policies
provisioner:
  name: ansible
verifier:
  name: ansible
