- name: Remove TLS certs
  hosts: localhost
  connection: local
  gather_facts: true

  vars_files:
  - ~/.apigee-secure/credentials.yml
  - "{{ playbook_dir | dirname | dirname }}/resources/hybrid-org-host-metadata.yml"
  - "{{ playbook_dir | dirname | dirname }}/resources/hybrid-common-attributes.yml"
  - "{{ playbook_dir | dirname | dirname }}/resources/hybrid-region-{{ CASSANDRA_DATA_CENTER_NAME | default('dc-1') }}.yml"

  vars:
    PROJECT_ID: "{{ APIGEE_RUNTIME_PROJECT_ID }}"

  collections:
    - bap_coe.apigee_hybrid

  roles:
    - { role: apigee-hybrid-tls-certs-destroy }
