---
dependency:
  name: galaxy
driver:
  name: default
lint: |
  set -e
  yamllint .
  ansible-lint
  flake8
platforms:
  - name: tls-certs-create
provisioner:
  name: ansible
#  ansible_args:
#    - -i=$MOLECULE_PROJECT_DIRECTORY/inventory
#    - -u=friasc
#    - --private-key=~/.ssh/google_compute_engine
  playbooks:
    converge: converge.yml
    destroy: destroy.yml
verifier:
  name: ansible
