---
dependency:
  name: galaxy
driver:
  name: delegated
lint: |
  set -e
  yamllint .
  ansible-lint
  flake8
platforms:
  - name: config-molecule-env
provisioner:
  name: ansible
verifier:
  name: ansible
  log: True

