---
- name: Apigee Runtime Obtain external ip address
  import_playbook: "{{ playbook_dir | dirname }}/gcp-external-ip-address-get/converge.yml"

- name: Apigee Runtime Create service account keys for charts.
  hosts: localhost
  connection: local
  gather_facts: true
  environment:
    ENABLE_TURBO_MODE: 1

  vars_files:
  - ~/.apigee-secure/credentials.yml
  - "{{ playbook_dir | dirname | dirname }}/resources/hybrid-org-host-metadata.yml"
  - "{{ playbook_dir | dirname | dirname }}/resources/hybrid-common-attributes.yml"
  - "{{ playbook_dir | dirname | dirname }}/resources/hybrid-region-{{ DATA_CENTER | default('dc-1') }}.yml"

  vars:
    PROJECT_ID: "{{ APIGEE_RUNTIME_PROJECT_ID }}"
    OVERRIDE_FILE: "{{ APIGEE_RUNTIME_OVERRIDE_FILE }}"

  collections:
  - bap_coe.apigee_hybrid

  tasks:
    - name: Set configuration template variables
      set_fact:
        cacheable: true
        SERVICE_ACCOUNT_PATH_SYNCHRONIZER: credentials/{{ APIGEE_ADMIN }}-service-account-key.json
        SERVICE_ACCOUNT_PATH_UDCA: credentials/{{ APIGEE_ADMIN }}-service-account-key.json
        SERVICE_ACCOUNT_PATH_RUNTIME: credentials/{{ APIGEE_ADMIN }}-service-account-key.json
        SERVICE_ACCOUNT_PATH_MART: credentials/{{ APIGEE_ADMIN }}-service-account-key.json
        SERVICE_ACCOUNT_PATH_METRICS: credentials/{{ APIGEE_ADMIN }}-service-account-key.json
        SERVICE_ACCOUNT_PATH_CONNECT_AGENT: credentials/{{ APIGEE_ADMIN }}-service-account-key.json
        SERVICE_ACCOUNT_PATH_WATCHER: credentials/{{ APIGEE_ADMIN }}-service-account-key.json
        SERVICE_ACCOUNT_PATH_LOGGER: credentials/{{ APIGEE_ADMIN }}-service-account-key.json
        SSL_CERT_PATH: certs/{{ SSL_CERT_FILE | basename }}
        SSL_KEY_PATH: certs/{{ SSL_KEY_FILE | basename }}

    - name: Distribute Overrides.yml
      import_role:
        name: apigee-hybrid-apigeectl-configure
      vars:
        includeNodeSelector: APIGEE_CONFIG_INCLUDE_NODE_SELECTOR

    - name: Apigee Runtime Distribute configs and credentials to helm chart folders
      import_playbook: "{{ playbook_dir | dirname }}/apigee-runtime-helm-chart-credentials-distribution/converge.yml"


