ansible==2.10.5
ansible-base
ansible-lint==5.0.0
molecule==3.2.3
yamllint==1.26.0
passlib==1.7.4
apache-libcloud==0.17.0
google-auth==1.27.1
google-api-python-client==2.0.2
pyasn1_modules==0.2.8
requests==2.23.0
pycryptodome==3.10.1
cryptography==3.4.6
rsa==4.7.2
docker-py
molecule
