---
- name: Create infrastructure for private cloud in GCP
  hosts: localhost
  connection: local

  vars_files:
  - ~/.apigee-secure/argolis-credentials.yml
  - "{{ playbook_dir | dirname }}/shared/defaults.yml"
  - "{{ playbook_dir | dirname | dirname }}/override.yml"

  collections:
  - bap_coe.gcp_management
  - bap_coe.bootstrap_runtime

  roles:
  - { role: service_account_file_path }
  - { role: gcp_iam_service_account_keys }
  - { role: service_account_file_processing }
  - { role: gcp_auth_service_account_activate }
  - {
      role: gcp_iam_policy_bindings,
      BINDING_OP: "remove",
      ACCOUNT_TYPE: "serviceAccount",
      GCLOUD_BINDING_ACCOUNT: "{{ GCLOUD_SERVICE_ACCOUNT}}",
      POLICY_BINDINGS: "{{ GCLOUD_PROJECT_SERVICE_ACCOUNT_ROLE_BINDINGS }}",
      GCLOUD_ACCOUNT_EMAIL: "{{ GCLOUD_ACCOUNT_PROJECT_ADMIN_EMAIL }}"
    }
