---
- name: Config Apigee Telemetry
  hosts: localhost
  connection: local
  gather_facts: true
  environment:
    ENABLE_TURBO_MODE: 1

  vars_files:
  - "{{ playbook_dir | dirname | dirname }}/resources/hybrid-org-host-metadata.yml"
  - "{{ playbook_dir | dirname | dirname }}/resources/hybrid-common-attributes.yml"
  - "{{ playbook_dir | dirname | dirname }}/resources/hybrid-region-{{ DATA_CENTER | default('dc-1') }}.yml"
  tasks:
    - block:
      - name: Install Apigee Telemetry
        kubernetes.core.helm:
          state: present
          chart_ref: "{{ APIGEE_HYBRID_HELM_CHARTS_DIR }}/apigee-telemetry"
          namespace: "{{ APIGEE_NAMESPACE }}"
          name: telemetry
          create_namespace: true
          wait_timeout: "{{ HELM_BINARY_TIMEOUT }}"
          values_files:
          - "{{ APIGEE_HYBRID_HELM_CHARTS_DIR }}/apigee-telemetry/{{ OVERRIDE_FILE | basename }}"

      rescue:

        - name: RESCUE - Install Apigee Telemetry - debug
          kubernetes.core.helm:
            binary_path: "{{ WORK_DIR }}/bin/helm --debug "
            state: present
            chart_ref: "{{ APIGEE_HYBRID_HELM_CHARTS_DIR }}/apigee-telemetry"
            namespace: "{{ APIGEE_NAMESPACE }}"
            name: telemetry
            create_namespace: true
            wait_timeout: "{{ HELM_BINARY_TIMEOUT }}"
            values_files:
            - "{{ APIGEE_HYBRID_HELM_CHARTS_DIR }}/apigee-telemetry/{{ OVERRIDE_FILE | basename }}"
