---
dependency:
  name: galaxy
driver:
  name: delegated
lint: |
  set -e
  yamllint .
  ansible-lint
  flake8
platforms:
  - name: apigee-runtime-dns-record-mgmt
provisioner:
  name: ansible
verifier:
  name: ansible
