[defaults]
# inventory = ./ansible/inventory/gce-dynamic-inventory
fact_caching_connection = ./ansible/cache/anthos-sme-labs
log_path = ~/.ansible/logs/anthos-sme-labs.log
private_key_file = ~/.ssh/google_compute_engine
# roles_path = ~/.ansible/roles
local_tmp = ./ansible/tmp
# library = ~/.ansible/library
remote_user = friasc
host_key_checking = False
forks = 25
retry_files_enabled = False
ansible_shell_type=sh
gathering = smart
fact_caching = jsonfile
module_name = shell
merge_multiple_cli_tags=True
display_args_to_stdout = True
timeout = 60
; callback_whitelist = timer,profile_roles,profile_tasks
callback_whitelist = profile_roles,profile_tasks
#strategy_plugins = ~/.ansible/plugins/mitogen-0.2.8/ansible_mitogen/plugins/strategy
#strategy = mitogen_linear
bin_ansible_callbacks = True
stdout_callback = yaml
stderr_callback = yaml

[ssh_connection]
# Sample ssh_args settings
# ssh_args = -o ControlMaster=auto -o ControlPersist=7200s -o KbdInteractiveAuthentication=no -o PreferredAuthentications=gssapi-with-mic,gssapi-keyex,hostbased,publickey -o PasswordAuthentication=no -q
ssh_args =  -o StrictHostKeyChecking=no -q
control_path=%(directory)s/ansible-ssh-%%h-%%p-%%r
pipelining = True

[inventory]
enable_plugins = host_list, script, ini, yaml, auto, advanced_host_list, constructed, gcp_compute

