---
- name: Apigee Runtime Create External IP Address
  hosts: localhost
  connection: local

  vars_files:
  - ~/.apigee-secure/credentials.yml
  - "{{ playbook_dir | dirname | dirname }}/resources/hybrid-org-host-metadata.yml"
  - "{{ playbook_dir | dirname | dirname }}/resources/hybrid-common-attributes.yml"
  - "{{ playbook_dir | dirname | dirname }}/resources/hybrid-region-{{ DATA_CENTER | default('dc-1') }}.yml"

  vars:
    PROJECT_ID: "{{ APIGEE_RUNTIME_PROJECT_ID }}"
    CREDENTIALS_DIR: "{{ APIGEE_RUNTIME_CREDENTIALS_DIR }}"
    SERVICE_ACCOUNT_FILE_PATH: "{{ APIGEE_RUNTIME_SERVICE_ACCOUNT_FILE_PATH }}"
    WORK_DIR: "{{ APIGEE_RUNTIME_WORK_DIR }}"
    GCP_TOKEN_FILE_PATH: "{{ APIGEE_HOST_GCP_TOKEN_FILE_PATH }}"

  collections:
    - bap_coe.apigee_hybrid
    - bap_coe.gcp_management

  roles:
    - {
        role: service_account_file_path,
        KEY_FILE_PATH: "{{ CREDENTIALS_DIR }}"
      }
    - { role: service_account_file_processing }
    - { role: gcp_auth_service_account_activate }
    - { role: gce_external_ip_create }

