/**
 * Copyright 2022 Google LLC
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

project_id = "{{ TERRAFORM_VARS.PROJECT_ID }}"
ax_region = "{{ TERRAFORM_VARS.AX_REGION }}"

apigee_environments = "{{ TERRAFORM_VARS.APIGEE_ENVIRONMENTS_LIST }}"

apigee_instances = {
  # Single instance only for eval, add a second instance for prod setups
  {{ TERRAFORM_VARS.APIGEE_INSTANCE_1 }} = {
    region       = "{{ TERRAFORM_VARS.APIGEE_INSTANCE_1_REGION }}"
    ip_range     = "{{ TERRAFORM_VARS.APIGEE_INSTANCE_1_IP_RANGE }}"
    environments = "{{ TERRAFORM_VARS.APIGEE_INSTANCE_1_ENVIRONMENTS }}"
  }
  # Example of second instance
  {{ TERRAFORM_VARS.APIGEE_INSTANCE_2 }} = {
    region       = "{{ TERRAFORM_VARS.APIGEE_INSTANCE_2_REGION }}"
    ip_range     = "{{ TERRAFORM_VARS.APIGEE_INSTANCE_2_IP_RANGE }}"
    environments = "{{ TERRAFORM_VARS.APIGEE_INSTANCE_2_ENVIRONMENTS }}"
  }
}

apigee_envgroups = {
  {{ TERRAFORM_VARS.APIGEE_ENVGROUPS_NAME }} = {
    environments = "{{ TERRAFORM_VARS.APIGEE_ENVIRONMENTS_LIST }}"
    hostnames    = "{{ TERRAFORM_VARS.APIGEE_ENVIRONMENTS_HOSTNAMES }}"
  }
}

network = "{{ TERRAFORM_VARS.NETWORK }}"

exposure_subnets = [
  {
    name               = "{{ TERRAFORM_VARS.EXPOSURE_SUBNETS_1_NAME }}"
    ip_cidr_range      = "{{ TERRAFORM_VARS.EXPOSURE_SUBNETS_1_IP_CIDR_RANGE }}"
    region             = "{{ TERRAFORM_VARS.EXPOSURE_SUBNETS_1_REGION }}"
    instance           = "{{ TERRAFORM_VARS.EXPOSURE_SUBNETS_1_INSTANCE }}"
    secondary_ip_range = "{{ TERRAFORM_VARS.EXPOSURE_SUBNETS_1_NAME_SECONDARY_IP_RANGE | default(null) }}"
  },
  {
    name               = "{{ TERRAFORM_VARS.EXPOSURE_SUBNETS_1_NAME }}"
    ip_cidr_range      = "{{ TERRAFORM_VARS.EXPOSURE_SUBNETS_1_IP_CIDR_RANGE }}"
    region             = "{{ TERRAFORM_VARS.EXPOSURE_SUBNETS_1_REGION }}"
    instance           = "{{ TERRAFORM_VARS.EXPOSURE_SUBNETS_1_INSTANCE }}"
    secondary_ip_range = "{{ TERRAFORM_VARS.EXPOSURE_SUBNETS_1_NAME_SECONDARY_IP_RANGE | default(null) }}"
  }
]

peering_range  = "{{ TERRAFORM_VARS.PEERING_RANGE }}"
support_range1 = "{{ TERRAFORM_VARS.SUPPORT_RANGE_1 }}"
support_range2 = "{{ TERRAFORM_VARS.SUPPORT_RANGE_2 }}" # Support range for second instance
