---
- name: Create an Apigee environment group
  import_playbook: "{{ playbook_dir | dirname }}/apigee-environment-group-create/converge.yml"

- name: Configure Apigee Env
  hosts: localhost
  connection: local
  gather_facts: true
  environment:
    ENABLE_TURBO_MODE: 1

  vars_files:
  - "{{ playbook_dir | dirname | dirname }}/resources/hybrid-org-host-metadata.yml"
  - "{{ playbook_dir | dirname | dirname }}/resources/hybrid-common-attributes.yml"
  - "{{ playbook_dir | dirname | dirname }}/resources/hybrid-region-{{ DATA_CENTER | default('dc-1') }}.yml"
  tasks:
    - block:
      - name: Configure Apigee Env
        kubernetes.core.helm:
          state: present
          chart_ref: "{{ APIGEE_HYBRID_HELM_CHARTS_DIR }}/apigee-env"
          namespace: "{{ APIGEE_NAMESPACE }}"
          name: "{{ ENVIRONMENT_NAME }}"
          create_namespace: true
          wait_timeout: "{{ HELM_BINARY_TIMEOUT }}"
          atomic: true
          set_values:
          - value: env={{ ENVIRONMENT_NAME }}
            value_type: string
          values_files:
          - "{{ APIGEE_HYBRID_HELM_CHARTS_DIR }}/apigee-env/{{ OVERRIDE_FILE | basename }}"

      rescue:

        - name: RESCUE - Configure Apigee Env - debug
          kubernetes.core.helm:
            binary_path: "{{ WORK_DIR }}/bin/helm --debug "
            state: present
            chart_ref: "{{ APIGEE_HYBRID_HELM_CHARTS_DIR }}/apigee-env"
            namespace: "{{ APIGEE_NAMESPACE }}"
            name: "{{ ENVIRONMENT_NAME }}"
            create_namespace: true
            wait_timeout: "{{ HELM_BINARY_TIMEOUT }}"
            atomic: true
            set_values:
            - value: env={{ ENVIRONMENT_NAME }}
              value_type: string
            values_files:
            - "{{ APIGEE_HYBRID_HELM_CHARTS_DIR }}/apigee-env/{{ OVERRIDE_FILE | basename }}"

