{% if groups['dc_1'] is defined and inventory_hostname in groups['dc_1'] %}
MSIP={{ hostvars[groups['dc_1_ms'][0]]['private_address'] }}
{% elif groups['dc_2'] is defined and inventory_hostname in groups['dc_2'] %}
MSIP={{ hostvars[groups['dc_2_ms'][0]]['private_address'] }}
{% else %}
{# Default to the MS in region 1 #}
MSIP={{ hostvars[groups['dc_1_ms'][0]]['private_address'] }}
{% endif %}
ADMIN_EMAIL={{ opdk_user_email }}
APIGEE_PORT_HTTP_MS={{ ms_port }}
APIGEE_ADMINPW={{ opdk_user_pass }}
{% if groups['dc_1'] is defined and inventory_hostname in groups['dc_1'] %}
REGION=dc_1
{% elif groups['dc_2'] is defined and inventory_hostname in groups['dc_2'] %}
REGION=dc_2
{% elif groups['dc_3'] is defined and inventory_hostname in groups['dc_3'] %}
REGION=dc_3
{% else %}
REGION=Please update the region
{% endif %}
MP_POD={{ opdk_mp_pod }}
{% if groups['dc_1'] is defined and inventory_hostname in groups['dc_1'] %}
MP_IP="{{ hostvars[groups['dc_1_mp'][0]]['private_address'] }}"
{% elif groups['dc_2'] is defined and inventory_hostname in groups['dc_2'] %}
MP_IP="{{ hostvars[groups['dc_2_mp'][0]]['private_address'] }}"
{% elif groups['dc_3'] is defined and inventory_hostname in groups['dc_3'] %}
MP_IP="{{ hostvars[groups['dc_3_mp'][0]]['private_address'] }}"
{% else %}
MP_IP=please update the mp ip address
{% endif %}
MP_PORT={{ mp_ext_mgmt_port }}
{% if groups['dc_1'] is defined and inventory_hostname in groups['dc_1'] %}

HOST_ALIAS="{{ groups['dc_1_r'] | join(' ') }}"

{% elif groups['dc_2'] is defined and inventory_hostname in groups['dc_2'] %}

HOST_ALIAS="{{ groups['dc_2_r'] | join(' ') }}"

{% elif groups['dc_3'] is defined and inventory_hostname in groups['dc_3'] %}

HOST_ALIAS="{{ groups['dc_3_r'] | join(' ') }}"

{% else %}

HOST_ALIAS="Neither a dc_1 or dc_2 inventory group was defined"

{% endif %}
YES="{{ confirm_delete_org | default('y')}}"
