---
- name: Config Apigee Virtualhost
  hosts: localhost
  connection: local
  gather_facts: true
  environment:
    ENABLE_TURBO_MODE: 1


  vars_files:
  - "{{ playbook_dir | dirname | dirname }}/resources/hybrid-org-host-metadata.yml"
  - "{{ playbook_dir | dirname | dirname }}/resources/hybrid-common-attributes.yml"
#  - "{{ playbook_dir | dirname | dirname }}/resources/hybrid-region-{{ CASSANDRA_DATA_CENTER_NAME | default('dc-1') }}.yml"

  tasks:
  - name: Uninstall Apigee Virtualhost
    kubernetes.core.helm:
      state: absent
      chart_ref: "{{ APIGEE_HYBRID_HELM_CHARTS_DIR }}/apigee-virtualhost"
      namespace: "{{ APIGEE_NAMESPACE }}"
      name: "{{ ENVIRONMENT_GROUP_NAME }}"
