[defaults]
inventory = inventory
fact_caching_connection = ~/.ansible/cache/friasc-opdk-04142021-2132
log_path = ~/.ansible/logs/friasc-opdk-04142021-2132.log
private_key_file = ~/.ssh/google_compute_engine
roles_path = ./roles:../../roles:~/.ansible/roles
local_tmp = ~/.ansible/tmp
library = ~/.ansible/library
remote_user = friasc
host_key_checking = False
forks = 25
retry_files_enabled = False
ansible_shell_type=sh
gathering = smart
fact_caching = jsonfile
module_name = shell
merge_multiple_cli_tags=True
display_args_to_stdout = True
timeout = 60
callback_whitelist = timer,profile_roles,profile_tasks
bin_ansible_callbacks = True
stdout_callback = yaml
stderr_callback = yaml

[inventory]
#enable_plugins = gcp_compute
enable_plugins = host_list, script, ini, yaml, auto, advanced_host_list, constructed, googlce.cloud.gcp_compute


[ssh_connection]
# Enabling pipelining reduces the number of SSH operations required
# to execute a module on the remote server.
# This can result in a significant performance improvement
# when enabled.
pipelining = True
scp_if_ssh = False
ssh_executable = inventory/gcp-ssh-wrapper.sh
ssh_args = None
# Tell ansible to use SCP for file transfers when connection is set to SSH
scp_if_ssh = True
scp_executable = inventory/gcp-scp-wrapper.sh
