[defaults]
inventory = inventory
fact_caching_connection = ~/.ansible/cache/friasc-opdk-04142021-2132
log_path = ~/.ansible/logs/friasc-opdk-04142021-2132.log
private_key_file = ~/.ssh/google_compute_engine
roles_path = ./roles:../../roles:~/.ansible/roles
local_tmp = ~/.ansible/tmp
library = ~/.ansible/library
remote_user = friasc
host_key_checking = False
forks = 25
retry_files_enabled = False
ansible_shell_type=sh
gathering = smart
fact_caching = jsonfile
module_name = shell
merge_multiple_cli_tags=True
display_args_to_stdout = True
timeout = 60
callback_whitelist = timer,profile_roles,profile_tasks
bin_ansible_callbacks = True
stdout_callback = yaml
stderr_callback = yaml

[ssh_connection]
pipelining = True
ssh_args = -q

[inventory]
enable_plugins = gcp_compute

