---
# Placeholders should they defaults not be sufficient
#CLUSTER_CHANNEL: "stable"  # can be one of rapid, regular, stable, or None.
#CLUSTER_VERSION: 1.28.7-gke.1026001

APIGEE_OVERRIDE_TEMPLATE: "prod"  # Values can be: 'non-prod' or 'prod'

APIGEE_HOST_WORK_DIR: "{{ playbook_dir | dirname | dirname }}/work_dir/{{ APIGEE_HOST_PROJECT_ID }}"
APIGEE_RUNTIME_WORK_DIR: "{{ playbook_dir | dirname | dirname }}/work_dir/{{ APIGEE_RUNTIME_PROJECT_ID }}"

APIGEE_HOST_WORKDIR_DOWNLOAD_DEST: "{{ APIGEE_HOST_WORK_DIR }}/downloads"
APIGEE_RUNTIME_WORKDIR_DOWNLOAD_DEST: "{{ APIGEE_RUNTIME_WORK_DIR }}/downloads"

APIGEE_HOST_WORKDIR_BINARY_DEST: "{{ APIGEE_HOST_WORKDIR_DOWNLOAD_DEST }}/bin"
APIGEE_RUNTIME_WORKDIR_BINARY_DEST: "{{ APIGEE_RUNTIME_WORKDIR_DOWNLOAD_DEST }}/bin"

APIGEE_HOST_HYBRID_FILES_DIR: "{{ APIGEE_HOST_WORK_DIR }}/apigeectl-{{ APIGEE_VERSION }}/hybrid-files"
APIGEE_RUNTIME_HYBRID_FILES_DIR: "{{ APIGEE_RUNTIME_WORK_DIR }}/apigeectl-{{ APIGEE_VERSION }}/hybrid-files"

APIGEE_HOST_OVERRIDE_FILE: "{{ APIGEE_HOST_HYBRID_FILES_DIR }}/overrides/overrides-{{ CLUSTER_NAME }}-{{ APIGEE_OVERRIDE_TEMPLATE }}.yaml"
APIGEE_RUNTIME_OVERRIDE_FILE: "{{ APIGEE_RUNTIME_HYBRID_FILES_DIR }}/overrides/overrides-{{ CLUSTER_NAME }}-{{ APIGEE_OVERRIDE_TEMPLATE }}.yaml"

APIGEE_GOOGLEAPIS_HOST: "apigee.googleapis.com"

APIGEE_HYBRID_HELM_CHARTS_DIR: "{{ APIGEE_RUNTIME_HYBRID_FILES_DIR }}/apigee-hybrid-helm-charts"
APIGEE_RUNTIME_CREDENTIALS_DIR: "{{ APIGEE_RUNTIME_WORK_DIR }}/credentials"
APIGEE_HOST_CREDENTIALS_DIR: "{{ APIGEE_HOST_WORK_DIR }}/credentials"
CERT_FILE_DIR: "{{ APIGEE_RUNTIME_HYBRID_FILES_DIR  }}/certs"
HELM_CERT_FILE_DIR: "{{ APIGEE_HYBRID_HELM_CHARTS_DIR }}/certs"
SSL_CERT_FILE: "keystore-{{ ENVIRONMENT_GROUP_NAME }}.pem"
SSL_CERT_PATH: "{{ CERT_FILE_DIR }}/{{ SSL_CERT_FILE }}"
SSL_KEY_FILE: "keystore-{{ ENVIRONMENT_GROUP_NAME }}.key"
SSL_KEY_PATH: "{{ CERT_FILE_DIR }}/{{ SSL_KEY_FILE }}"
CERT_SIGNING_REQUEST_PATH: "{{ CERT_FILE_DIR }}/keystore-{{ ENVIRONMENT_GROUP_NAME }}.csr"

APIGEE_HOST_PROJECT_SERVICE_ACCOUNT_FQ_NAME_SUFFIX: "@{{ APIGEE_HOST_PROJECT_ID }}.iam.gserviceaccount.com"
APIGEE_RUNTIME_PROJECT_SERVICE_ACCOUNT_FQ_NAME_SUFFIX: "@{{ APIGEE_RUNTIME_PROJECT_ID }}.iam.gserviceaccount.com"

APIGEE_NON_PROD_USER: "apigee-non-prod"
APIGEE_ADMIN: "{{ APIGEE_NON_PROD_USER }}"

APIGEE_HOST_ADMIN_SERVICE_ACCOUNT: "{{ APIGEE_ADMIN }}{{ APIGEE_HOST_PROJECT_SERVICE_ACCOUNT_FQ_NAME_SUFFIX }}"
APIGEE_RUNTIME_ADMIN_SERVICE_ACCOUNT: "{{ APIGEE_ADMIN }}{{ APIGEE_RUNTIME_PROJECT_SERVICE_ACCOUNT_FQ_NAME_SUFFIX }}"

APIGEE_ADMIN_SERVICE_ACCOUNT_FILE_NAME: "{{ APIGEE_ADMIN }}-service-account-key.json"

APIGEE_HOST_ADMIN_SERVICE_ACCOUNT_FILE_PATH: "{{ APIGEE_HOST_WORK_DIR }}/credentials/{{ APIGEE_ADMIN_SERVICE_ACCOUNT_FILE_NAME }}"
APIGEE_RUNTIME_ADMIN_SERVICE_ACCOUNT_FILE_PATH: "{{ APIGEE_RUNTIME_WORK_DIR }}/credentials/{{ APIGEE_ADMIN_SERVICE_ACCOUNT_FILE_NAME }}"

GCP_TOKEN_FILE_NAME: "{{ APIGEE_ADMIN }}-gcp-token.txt"

APIGEE_HOST_GCP_TOKEN_FILE_PATH: "{{ APIGEE_HOST_WORK_DIR }}/credentials/{{ GCP_TOKEN_FILE_NAME }}"
APIGEE_RUNTIME_GCP_TOKEN_FILE_PATH: "{{ APIGEE_RUNTIME_WORK_DIR }}/credentials/{{ GCP_TOKEN_FILE_NAME }}"

GCP_APIKEY_FILE_NAME: "{{ APIGEE_ADMIN }}-apikey.json"

APIGEE_HOST_GCP_APIKEY_FILE_PATH: "{{ APIGEE_HOST_WORK_DIR }}/credentials/{{ GCP_APIKEY_FILE_NAME }}"
APIGEE_RUNTIME_GCP_APIKEY_FILE_PATH: "{{ APIGEE_RUNTIME_WORK_DIR }}/credentials/{{ GCP_APIKEY_FILE_NAME }}"

APIGEE_CONFIG_REQUIRED_FOR_SCHEDULING: true
APIGEE_CONFIG_INCLUDE_NODE_SELECTOR: true

ANALYTICS_REGION: "{{ GCP_REGION }}"
ENVIRONMENT_NAME: "test"
ENVIRONMENT_GROUP_NAME: "{{ ENVIRONMENT_NAME }}-group"

DNS_PROJECT_ID: "friasc-apigee-lab"
DNS_MANAGED_ZONE: "friasc.demo.altostrat.com"
DNS_ZONE_NAME: "friasc-demo"
DOMAIN_SUFFIX: "{{ PROJECT_ID }}"
DOMAIN_NAME: "{{ PROJECT_ID }}-{{ GCP_REGION }}.{{ DNS_MANAGED_ZONE }}"
EXTERNAL_IP_NAME: "external-ip-apigee-ingress-for-{{ CLUSTER_NAME }}"

RUNTIMETYPE: "HYBRID"
ORG_CREATE_TIMEOUT: 90
SERVICE_ACCOUNT_FILE_SUFFIX: "service-account-key"
SERVICE_ACCOUNT_FILE: "{{ APIGEE_ADMIN }}-{{ SERVICE_ACCOUNT_FILE_SUFFIX }}.json"
APIGEE_HOST_SERVICE_ACCOUNT_FILE_PATH: "{{ APIGEE_HOST_WORK_DIR }}/credentials/{{ SERVICE_ACCOUNT_FILE }}"
APIGEE_RUNTIME_SERVICE_ACCOUNT_FILE_PATH: "{{ APIGEE_RUNTIME_WORK_DIR }}/credentials/{{ SERVICE_ACCOUNT_FILE }}"

VPC_NETWORK_NAME: default
VPC_SUBNETWORK_NAME: default

HELM_VERSION: 3.11.1
HELM_BASE_URL: https://get.helm.sh
HELM_INSTALLATION_ARCHIVE_NAME: helm-v{{ HELM_VERSION }}-{{ ansible_system | lower }}-{{ facter_os.architecture }}.tar.gz
HELM_URL: "{{ HELM_BASE_URL }}/{{ HELM_INSTALLATION_ARCHIVE_NAME }}"
HELM_URL_CHECKSUM: "{{ HELM_URL }}.sha256sum"
HELM_BINARY: "{{ APIGEE_RUNTIME_WORKDIR_BINARY_DEST }}/helm"
HELM_BINARY_TIMEOUT: 30
APIGEE_HYBRID_HELM_CHART_REPO:  oci://us-docker.pkg.dev/apigee-release/apigee-hybrid-helm-charts
APIGEE_NAMESPACE: apigee
APIGEE_SYSTEM_NAMESPACE: apigee-system
APIGEE_HYBRID_CHART_LIST:
- apigee-operator
- apigee-redis
- apigee-datastore
- apigee-telemetry
- apigee-ingress-manager
- apigee-org
- apigee-env
- apigee-virtualhost

# SERVICE_ACCOUNT_PROTECTED_VALUES in credentials.yml
ADMIN_ACCOUNT_EMAIL: "{{ ADMIN_ACCOUNT_USER }}@{{ GCLOUD_ORG_DOMAIN }}"
BILLING_USER_NAME: "{{ ADMIN_ACCOUNT_USER }}"
BILLING_USER_EMAIL: "{{ BILLING_USER_NAME }}@{{ GCLOUD_ORG_DOMAIN }}"
ADMIN_SERVICE_ACCOUNT_NAME: "{{ ADMIN_ACCOUNT_USER }}-service-account"
ADMIN_SERVICE_ACCOUNT: "{{ ADMIN_SERVICE_ACCOUNT_NAME }}@{{ APIGEE_HOST_PROJECT_ID }}.iam.gserviceaccount.com"
AUTHORIZATION_KIND: serviceaccount

ENV_NAME: "test"

APIGEE_RUNTIME_SIZE: "medium"
MACHINE_TYPE: "e2-standard-8"
LOGGING: "SYSTEM,WORKLOAD"
MONITORING: "SYSTEM"
CLUSTER_ADDONS: "HorizontalPodAutoscaling,HttpLoadBalancing,GcePersistentDiskCsiDriver"
NODE_POOL_NAME_LABEL_ATTRIBUTE: "cloud.google.com/gke-nodepool"
NODE_POOL_NAME_DATA: "apigee-data-{{ CLUSTER_COUNT }}-pool"
NODE_POOL_NAME_RUNTIME: "apigee-runtime-{{ CLUSTER_COUNT }}-pool"
NODE_POOL_DATA_LABEL_NAME: "cloud.google.com/gke-nodepool"
NODE_POOL_DATA_LABEL_VALUE: "{{ NODE_POOL_NAME_DATA }}"
NODE_POOL_RUNTIME_LABEL_NAME: "cloud.google.com/gke-nodepool"
NODE_POOL_RUNTIME_LABEL_VALUE: "{{ NODE_POOL_NAME_RUNTIME }}"
NODE_COUNT: 3
NODE_COUNT_MAX: 3
NODE_COUNT_MIN: 3
DISK_SIZE: 500
DISK_TYPE: pd-balanced
MAX_SURGE_UPGRADE: 1
MAX_UNAVAILABLE_UPGRADE: 0

# Cassandra DC and Multi-Region Flag
CASSANDRA_DATA_CENTER_NAME: "dc-{{ CLUSTER_COUNT }}"
CASSANDRA_RACK_NAME: "ra-1"
CASSANDRA_HOST_NETWORK: False
CASSANDRA_REPLICA_COUNT: 3

INGRESS_GATEWAYS_REPLICA_COUNT_MIN:  1
INGRESS_GATEWAYS_REPLICA_COUNT_MAX: 10
INGRESS_GATEWAY_NAME: apigee-ingress-{{ CLUSTER_COUNT }} # 17 char limit
DISABLE_ISTIO_CONFIG_IN_API_SERVER: true
APIGEE_HYBRID_LOGGER_ENABLED: false

VALIDATE_PROJECT_ID: "{{ APIGEE_HOST_PROJECT_ID }}"
VALIDATE_PROXY_URI_ENDPOINT: /notarget
VALIDATE_PROXY_IP: "{{ INGRESS_IP }}"
VALIDATE_PROXY_PORT: 443

APIGEE_SERVICE_ACCOUNTS:
- "{{ APIGEE_NON_PROD_USER }}"
#  - apigee-metrics
#  - apigee-synchronizer
#  - apigee-udca
#  - apigee-mart
#  - apigee-cassandra
#  - apigee-logger
#  - apigee-watcher
#  - apigee-connect-agent

GCLOUD_FOLDER_ROLE_BINDINGS:
- roles/resourcemanager.folderAdmin

GCLOUD_PROJECT_SERVICES:
- "apigee.googleapis.com"
- "apigeeconnect.googleapis.com"
- "cloudresourcemanager.googleapis.com"
- "compute.googleapis.com"
- "container.googleapis.com"
- "pubsub.googleapis.com"
- "cloudaicompanion.googleapis.com"
#- "gkehub.googleapis.com"
#- "apikeys.googleapis.com"
#- "servicenetworking.googleapis.com"
#- "serviceusage.googleapis.com"
#- "iam.googleapis.com"
#- "stackdriver.googleapis.com"
#- "meshca.googleapis.com"
#- "meshtelemetry.googleapis.com"
#- "meshconfig.googleapis.com"
#- "iamcredentials.googleapis.com"
#- "anthos.googleapis.com"
#- "gkeconnect.googleapis.com"
#- "sourcerepo.googleapis.com"
#- "cloudbuild.googleapis.com"
#- "secretmanager.googleapis.com"
#- "dns.googleapis.com"
#- "monitoring.googleapis.com"
#- "logging.googleapis.com"
#- "cloudtrace.googleapis.com"
#- "privateca.googleapis.com"

GCLOUD_ORG_ROLE_BINDINGS:
- "roles/owner"
- "roles/billing.admin"
- "roles/billing.projectManager"
- "roles/iam.serviceAccountAdmin"
- "roles/resourcemanager.projectIamAdmin"
- "roles/resourcemanager.organizationAdmin"
- "roles/serviceusage.serviceUsageAdmin"
- "roles/serviceusage.serviceUsageViewer"
- "roles/serviceusage.apiKeysAdmin"
- "roles/iap.tunnelResourceAccessor"
- "roles/iam.serviceAccountCreator"
- "roles/compute.admin"
- "roles/compute.networkUser"
- "roles/compute.instanceAdmin"
- "roles/compute.loadBalancerAdmin"
- "roles/iam.serviceAccountUser"
- "roles/networkmanagement.admin"
- "roles/networkmanagement.viewer"
- "roles/iam.serviceAccountKeyAdmin"
- "roles/resourcemanager.projectIamAdmin"
- "roles/resourcemanager.organizationAdmin"
- "roles/serviceusage.serviceUsageAdmin"
- "roles/serviceusage.apiKeysAdmin"
- "roles/iap.tunnelResourceAccessor"

#  Configure project admin role bindings
GCLOUD_PROJECT_ADMIN_ROLE_BINDINGS:
- "roles/resourcemanager.projectDeleter"
- "roles/resourcemanager.projectCreator"

ADMIN_SERVICE_ACCOUNT_ROLE_BINDINGS:
- "roles/owner"
- "roles/compute.admin"
- "roles/compute.networkAdmin"
- "roles/compute.instanceAdmin"
- "roles/compute.networkUser"
- "roles/apigee.admin"
- "roles/apigee.synchronizerManager"
- "roles/networkmanagement.admin"
- "roles/cloudkms.admin"
- "roles/networkmanagement.viewer"
- "roles/iam.serviceAccountAdmin"
- "roles/iam.serviceAccountUser"
- "roles/iam.serviceAccountCreator"
- "roles/iam.serviceAccountKeyAdmin"
- "roles/compute.loadBalancerAdmin"

GCLOUD_ORG_POLICIES_CONSTRAINTS_ENFORCEMENT_DISABLE:
- constraints/iam.disableServiceAccountKeyCreation
- constraints/iam.disableServiceAccountCreation
- constraints/compute.requireShieldedVm
- constraints/compute.requireOsLogin
- constraints/compute.skipDefaultNetworkCreation
#- constraint/iam.disableCrossProjectServiceAccountUsage
# https://cloud.google.com/apigee/docs/hybrid/v1.12/install-workload-identity#configure-workload-identity

GCLOUD_ORG_POLICIES_UPDATE:
- constraints/compute.trustedImageProjects
- constraints/compute.restrictSharedVpcSubnetworks
- constraints/compute.restrictSharedVpcHostProjects
- constraints/compute.restrictVpcPeering
- constraints/compute.vmExternalIpAccess
- constraints/compute.vmCanIpForward

SERVICE_ACCOUNT_PATH_SYNCHRONIZER: "{{ APIGEE_RUNTIME_WORK_DIR }}/credentials/{{ APIGEE_ADMIN }}-service-account-key.json"
SERVICE_ACCOUNT_PATH_UDCA: "{{ APIGEE_RUNTIME_WORK_DIR }}/credentials/{{ APIGEE_ADMIN }}-service-account-key.json"
SERVICE_ACCOUNT_PATH_RUNTIME: "{{ APIGEE_RUNTIME_WORK_DIR }}/credentials/{{ APIGEE_ADMIN }}-service-account-key.json"
SERVICE_ACCOUNT_PATH_MART: "{{ APIGEE_RUNTIME_WORK_DIR }}/credentials/{{ APIGEE_ADMIN }}-service-account-key.json"
SERVICE_ACCOUNT_PATH_METRICS: "{{ APIGEE_RUNTIME_WORK_DIR }}/credentials/{{ APIGEE_ADMIN }}-service-account-key.json"
SERVICE_ACCOUNT_PATH_CONNECT_AGENT: "{{ APIGEE_RUNTIME_WORK_DIR }}/credentials/{{ APIGEE_ADMIN }}-service-account-key.json"
SERVICE_ACCOUNT_PATH_WATCHER: "{{ APIGEE_RUNTIME_WORK_DIR }}/credentials/{{ APIGEE_ADMIN }}-service-account-key.json"
SERVICE_ACCOUNT_PATH_LOGGER: "{{ APIGEE_RUNTIME_WORK_DIR }}/credentials/{{ APIGEE_ADMIN }}-service-account-key.json"
