- name: Install apigeectl binary
  hosts: localhost
  connection: local
  gather_facts: true

  vars_files:
  - ~/.apigee-secure/credentials.yml
  - "{{ playbook_dir | dirname | dirname }}/resources/attributes-dc-1.yml"

  collections:
    - bap_coe.apigee_hybrid
    - bap_coe.gcp_management

  roles:
    - { role: apigee-hybrid-apigeectl-download, tags: ['download'] }
    - { role: apigee-hybrid-apigeectl-dir-structure, tags: ['dir'] }
