---
apiVersion: v1
kind: Service
metadata:
  name: {{ CLUSTER_NAME }}
  namespace: apigee
spec:
  ports:
  - name: status-port
    port: 15021
    protocol: TCP
    targetPort: 15021
  - name: https
    port: 443
    protocol: TCP
    targetPort: 8443
  selector:
    app: apigee-ingressgateway #required
    ingress_name: {{ INGRESS_GATEWAY_NAME }}
    org: {{ APIGEE_ORG}}
  type: LoadBalancer
  loadBalancerIP: {{ EXTERNAL_IP }}