---
- name: Helm checkready
  hosts: localhost
  connection: local
  gather_facts: true
  environment:
    ENABLE_TURBO_MODE: 1

  vars_files:
  - "{{ playbook_dir | dirname | dirname }}/resources/hybrid-common-attributes.yml"
  collections:
    - bap_coe.apigee_hybrid
    - bap_coe.gcp_management

  tasks:
    - name: Apply cluster Helm Ready Check
      shell: kubectl apply -f ./apigee-k8s-cluster-ready-check.yaml

    - name: Cluster helm ready check job status
      shell: kubectl get jobs apigee-k8s-cluster-ready-check
      register: job_status

    - name: Obtain ready check pod names, if ready check job failed
      shell: kubectl get pods | grep apigee-k8s-cluster-ready-check
      when: '"0/1" in job_status.stdout'
