---
dependency:
  name: galaxy
driver:
  name: default
lint: |
  set -e
  yamllint .
  ansible-lint
  flake8
platforms:
  - name: Service Account Activate
provisioner:
  name: ansible
verifier:
  name: ansible

