---
instanceID: "{{ PROJECT_ID }}-{{ PROJECT_NUMBER }}"
namepace: "apigee"

gcp:
  region: "{{ ANALYTICS_REGION }}"
  projectID: "{{ PROJECT_ID }}"

k8sCluster:
  name: "{{ CLUSTER_NAME }}"
  region: "{{ CLUSTER_REGION }}"

org: "{{ PROJECT_ID }}"

envs:
- name: "{{ ENVIRONMENT_NAME }}"
  serviceAccountPaths:
    synchronizer: "{{ SERVICE_ACCOUNT_PATH_SYNCHRONIZER }}"
    udca: "{{ SERVICE_ACCOUNT_PATH_UDCA }}"
    runtime: "{{ SERVICE_ACCOUNT_PATH_RUNTIME }}"

cassandra:
  hostNetwork: {{ CASSANDRA_HOST_NETWORK }}
  replicaCount: {{ CASSANDRA_REPLICA_COUNT | int }}
    # Use multiples of 3 for production.
    # See Configure Cassandra for production for guidelines.
 # storage:
 #   capacity: 500Gi
 # resources:
 #   requests:
 #     cpu: 7
 #     memory: 15Gi
 # maxHeapSize: 8192M
 # heapNewSize: 1200M
    # Minimum storage requirements for a production environment.
    # See Configure Cassandra for production.

ingressGateways:
- name: "{{ INGRESS_GATEWAY_NAME }}"
  replicaCountMin: {{ INGRESS_GATEWAYS_REPLICA_COUNT_MIN }}
  replicateCountMax: {{ INGRESS_GATEWAYS_REPLICA_COUNT_MAX }}
#  svcAnnotations:  # optional. If you are on AKS, see Known issue #260772383
#    SVC_ANNOTATIONS_KEY: SVC_ANNOTATIONS_VALUE

virtualhosts:
- name: "{{ ENVIRONMENT_GROUP_NAME }}"
  selector:
    app: apigee-ingressgateway
    ingress_name: "{{ INGRESS_GATEWAY_NAME }}"
  sslCertPath: "{{ SSL_CERT_PATH }}"
  sslKeyPath: "{{ SSL_KEY_PATH }}"

mart:
  serviceAccountPath: "{{ SERVICE_ACCOUNT_PATH_MART }}"

connectAgent:
  serviceAccountPath: "{{ SERVICE_ACCOUNT_PATH_CONNECT_AGENT }}"

logger:
  enabled: {{ APIGEE_HYBRID_LOGGER_ENABLED }}
  serviceAccountPath: "{{ SERVICE_ACCOUNT_PATH_LOGGER }}"

metrics:
  serviceAccountPath: "{{ SERVICE_ACCOUNT_PATH_METRICS }}"

udca:
  serviceAccountPath: "{{ SERVICE_ACCOUNT_PATH_UDCA }}"

watcher:
  serviceAccountPath: "{{ SERVICE_ACCOUNT_PATH_WATCHER }}"

ao:
  args:
    disableIstioConfigInAPIserver: {{ DISABLE_ISTIO_CONFIG_IN_API_SERVER }}

{% if includeNodeSelector == true %}
nodeSelector:
  requiredForScheduling: {{ APIGEE_CONFIG_REQUIRED_FOR_SCHEDULING | default(false) }}
  apigeeRuntime:
    key: "{{ NODE_POOL_RUNTIME_LABEL_NAME }}"
    value: "{{ NODE_POOL_RUNTIME_LABEL_VALUE }}"
  apigeeData:
    key: "{{ NODE_POOL_DATA_LABEL_NAME }}"
    value: "{{ NODE_POOL_DATA_LABEL_VALUE }}"
{% endif %}
