#
# This sample is ideal for a quick start. It uses the minimum recommended footprint to start apigee runtime components.
# As much as possible, the overrides uses default settings and values. All the minimum replicas are set 1
#

# unique identifier for this installation.
instanceID: "{{ PROJECT_ID }}-{{ PROJECT_NUMBER }}"

namepace: "{{ APIGEE_NAMESPACE }}"
controllerNamespace: "{{ APIGEE_NAMESPACE }}"

# GCP project name where the org is provisioned.
gcp:
  projectID: "{{ PROJECT_ID }}"
# Apigee org name.
org: "{{ APIGEE_ORG_NAME }}"
# Kubernetes cluster name details

certManager:
  namespace: "{{ CERT_MANAGER_NAMESPACE }}"

k8sCluster:
  name: "{{ CLUSTER_NAME }}"
  region: "{{GCP_REGION }}"

# This configuration is introduced in hybrid v1.8
ingressGateways:
- name: ingress-1 # maximum 17 characters. See Known issue 243167389.
  replicaCountMin: {{ INGRESS_GATEWAYS_REPLICA_COUNT_MIN }}
  replicaCountMax: {{ INGRESS_GATEWAYS_REPLICA_COUNT_MAX }}

  # You do not need to set Annotations or LoadBalancerIP if you are creating your own Kubernetes
  # service for ingress deployment.
#  svcAnnotations:  # optional. See Known issue 243599452.
#    "<annotation key>": "<annotation value>"
#  svcLoadBalancerIP: <static IP>  # optional

virtualhosts:
  - name: "{{ ENV_GROUP }}"
    # either SSLSecret or the paths
    # sslSecret: "test-sslsecret"
    # Certificate for the domain name; this can be self signed.
    sslCertPath: "{{ SSL_CERT_PATH }}"
    # Private key for the domain name; this can be self signed.
    sslKeyPath: "{{ SSL_KEY_PATH }}"
    # optional
    # additionalGateways: ["name of the istio gateway, if in different ns, then ns/gatewayname"]

envs:
    # Apigee environment name.
  - name: "{{ ENV_NAME }}"
    # Service accounts for sync and UDCA.
    serviceAccountPaths:
      synchronizer: "{{ SERVICE_ACCOUNT_PATH_SYNCHRONIZER }}"
      udca: "{{ SERVICE_ACCOUNT_PATH_UDCA }}"
      runtime: "{{ SERVICE_ACCOUNT_PATH_RUNTIME }}"

cassandra:
  hostNetwork: "{{ CASSANDRA_HOST_NETWORK }}"

mart:
  serviceAccountPath: "{{ SERVICE_ACCOUNT_PATH_MART }}"

metrics:
  serviceAccountPath: "{{ SERVICE_ACCOUNT_PATH_METRICS }}"

connectAgent:
  serviceAccountPath: "{{ SERVICE_ACCOUNT_PATH_CONNECT_AGENT }}"

watcher:
  serviceAccountPath: "{{ SERVICE_ACCOUNT_PATH_WATCHER }}"


{% if CASSANDRA_SEED_NODE_IP is defined and CASSANDRA_SEED_NODE_IP | length > 0 %}
cassandra:
  multiRegionSeedHost: {{ CASSANDRA_SEED_NODE_IP }}
  datacenter: {{ CASSANDRA_DATA_CENTER_NAME }}
  rack: {{ CASSANDRA_RACK_NAME }}
{% endif %}