---
- name: Configure permissions and service accounts
  hosts: localhost
  connection: local

  vars_files:
  - ~/.apigee-secure/argolis-credentials.yml
  - "{{ playbook_dir | dirname }}/shared/defaults.yml"
  - "{{ playbook_dir | dirname | dirname }}/override.yml"

  collections:
    - bap_coe.gcp_management
    - bap_coe.bootstrap_runtime

  roles:
  - {
      role: gcp_project_services_enable,
      tags: ['services'],
      GCLOUD_ACCOUNT_EMAIL: "{{ GCLOUD_ACCOUNT_PROJECT_ADMIN_EMAIL }}",
      SERVICE_OP: "enable"
    }
