---
- name: Create infrastructure for private cloud in GCP
  hosts: localhost
  connection: local

  vars_files:
  - ~/.apigee-secure/apigee-hybrid-sensitive-attributes.yml
  - "{{ playbook_dir | dirname | dirname }}/attributes.yml"

  collections:
  - bap_coe.gcp_management
  - bap_coe.bootstrap_runtime

  roles:
  - { role: service_account_file_path }
  - { role: service_account_file_processing }
  - { role: gcp_auth_service_account_activate }
  - {
      role: gcp_project_services_enable,
      tags: ['services'],
      GCLOUD_ACCOUNT_EMAIL: "{{ GCLOUD_ACCOUNT_PROJECT_ADMIN_EMAIL }}",
      SERVICE_OP: 'disable'
    }
