---
# tasks file for apigee-opdk-setup-openjdk-cache
- name: Update cache with key and value
  set_fact:
    cacheable: yes
    key: "{{ item.key }}"
    value: "{{ item.value }}"
  with_items:
  - { key: "jdk_version", value: "{{ jdk_version }}" }
  - { key: 'java_home', value: '{{ java_home }}' }
