---
- name: Set data center
  hosts: localhost
  connection: local
  gather_facts: true

  tasks:
  - name: Set data center fact
    set_fact:
      cacheable: true
      DATA_CENTER: "dc-1"

- name: Update molecule variables
  hosts: localhost
  connection: local

  vars_files:
  - ~/.apigee-secure/credentials.yml
  - "{{ playbook_dir | dirname | dirname }}/resources/hybrid-metadata.yml"
  - "{{ playbook_dir | dirname | dirname }}/resources/hybrid-common-attributes.yml"
  - "{{ playbook_dir | dirname | dirname }}/resources/hybrid-region-{{ DATA_CENTER | default('dc-1') }}.yml"



  vars:
    key_value_pairs:
    - { key: 'MOLECULE_DEBUG', value: '"True"', separator: ':', file_name: "{{ playbook_dir | dirname | dirname }}/.env.yml" , type: "arg" }
    - { key: 'MOLECULE_VERBOSITY', value: '"10"', separator: ':', file_name: "{{ playbook_dir  | dirname | dirname }}/.env.yml", type: "arg" }
    - { key: 'PROJECT_ID', value: '"{{ PROJECT_ID }}"', separator: ':', file_name: "{{ playbook_dir  | dirname | dirname }}/.env.yml", type: "arg" }
    - { key: 'MOLECULE_INVENTORY_FILE', value: '"$MOLECULE_PROJECT_DIRECTORY/inventory/$PROJECT_ID-gce-dynamic-inventory.gcp.yml"', separator: ':', file_name: "{{ playbook_dir  | dirname | dirname }}/.env.yml", type: "arg" }

  collections:
  - bap_coe.gcp_management
  - bap_coe.bootstrap_runtime

  pre_tasks:
    - name: Load service account file paths
      include_role:
        name: bap_coe.gcp_management.service_account_file_path
      vars:
        KEY_FILE_PATH: "{{ CREDENTIALS_DIR }}"

    - name: Assert files is in place
      file:
        path: "{{ item.file_name }}"
        state: touch
      with_items: "{{ key_value_pairs }}"

  roles:
    - { role: key_value_updates }
