---
- name: Create Apigee Runtime External IP Address
  hosts: localhost
  connection: local

  vars_files:
  - ~/.apigee-secure/credentials.yml
  - "{{ playbook_dir | dirname | dirname }}/resources/hybrid-org-host-metadata.yml"
  - "{{ playbook_dir | dirname | dirname }}/resources/hybrid-common-attributes.yml"
  - "{{ playbook_dir | dirname | dirname }}/resources/hybrid-region-{{ CASSANDRA_DATA_CENTER_NAME | default('dc-1') }}.yml"

  vars:
    CREDENTIALS_DIR: "{{ APIGEE_RUNTIME_CREDENTIALS_DIR }}"
    SERVICE_ACCOUNT_FILE_PATH: "{{ APIGEE_RUNTIME_SERVICE_ACCOUNT_FILE_PATH }}"
    WORK_DIR: "{{ APIGEE_RUNTIME_WORK_DIR }}"
    GCP_TOKEN_FILE_PATH: "{{ APIGEE_CONTROL_GCP_TOKEN_FILE_PATH }}"
    EXTERNAL_IP_NAME: 

  collections:
    - bap_coe.apigee_hybrid
    - bap_coe.gcp_management

  roles:
    - {
        role: service_account_file_path,
        KEY_FILE_PATH: "{{ CREDENTIALS_DIR }}",
        PROJECT_ID: "{{ APIGEE_RUNTIME_PROJECT_ID }}"
      }
    - { role: service_account_file_processing }
    - {
        role: gcp_auth_service_account_activate,
        ADMIN_SERVICE_ACCOUNT: "{{ APIGEE_RUNTIME_ADMIN_SERVICE_ACCOUNT_FILE_PATH }}",
        SERVICE_ACCOUNT_FILE_PATH: "{{ APIGEE_RUNTIME_ADMIN_SERVICE_ACCOUNT_FILE_PATH }}",
        PROJECT_ID: "{{ APIGEE_RUNTIME_PROJECT_ID }}"
      }
    - { role: gce_external_ip_create, PROJECT_ID: "{{ APIGEE_RUNTIME_PROJECT_ID }}" }

